<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendors and Orders</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="jumbotron">
      <span id="header">Vendors and Orders</span>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
