@{
  Layout = "_Layout";
}

<h1>Welcome to the Vendor Order Splash Page!</h1>
<button type="button" class="btn btn-primary" onclick="window.location.href = '/vendors'">View Vendors</button>
<br>
<br>
<button type="button" class="btn btn-success" onclick="window.location.href = '/vendors/new'">Add a New Vendor</button>
