@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>
<form action="/vendors/@Model.Id/orders" method="post">
  <div class="row">
    <div class="col-md-4">
      <label for="orderTitle">Order Title:</label>
      <input class="form-control input-md" id="orderTitle" name="orderTitle" type="text" required>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label for="orderDescription">Order Description:</label>
      <input class="form-control input-md" id="orderDescription" name="orderDescription" type="text" required>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <label for="orderPrice">Order Price: $</label>
      <input class="form-control input-md" id="orderPrice" name="orderPrice" type="number" min="0" required>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <label for="orderDate">Order Date:</label>
      <input id="orderDate" name="orderDate" type="date" value="2019-10-17" required>
    </div>
  </div>
  <br>
  <button type='submit' class="btn btn-primary">Add order</button>
  <button type="button" class="btn btn-success" onclick="window.location.href = '/vendors/@Model.Id'">Back</button>
</form>
