@{
  Layout = "_Layout";
}

@using VendorOrder.Models;

<h1>Vendors</h1>

@if (@Model.Count == 0)
{
  <h3>No vendors have been added yet!</h3>
}

@foreach (Vendor vendor in Model)
{
  <h3><li><a href='/vendors/@vendor.Id'>@vendor.Name</a></li></h3>
}
<br><hr>
<button type="button" class="btn btn-success" onclick="window.location.href = '/vendors/new'">Add New Vendor</button>
<button type="button" class="btn btn-primary" onclick="window.location.href = '/'">Back home</button>
